@model Parcial29_6.Models.Pagos

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar nuevo pago</h1>
<br />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NSocio" class="control-label"></label>
                <input asp-for="NSocio" class="form-control" />
                <span asp-validation-for="NSocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCuota" class="control-label"></label>
                <input asp-for="ValorCuota" class="form-control" />
                <span asp-validation-for="ValorCuota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechadePago" class="control-label"></label>
                <input asp-for="FechadePago" class="form-control" />
                <span asp-validation-for="FechadePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroCuota" class="control-label"></label>
                <input asp-for="NroCuota" class="form-control" />
                <span asp-validation-for="NroCuota" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
