@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Club Atletico Juventud de Liniers</h1>

    <img src="https://media.licdn.com/dms/image/C4E03AQGg1QQiyyXH7A/profile-displayphoto-shrink_800_800/0/1616671710529?e=2147483647&v=beta&t=RtoIdbUc6xasQs6tHsNT0qyOXKHUiiNu8ML5f-cjLP0">
  
  </div>


